<!DOCTYPE html>
<html>
    {{ partial "head.html" . }}
    <body>
        {{ partial "header.html" . }}
        
        <div class="site-container">
            {{ partial "sidebar.html" . }}
            
            <main class="main-content">
                {{ partial "horizontal-nav.html" . }}
                <div class="content-wrapper">
                    <div class="posts-content">
                        {{ block "main" . }}{{ end }}
                    </div>
                </div>
            </main>
        </div>
        
        {{ partial "footer.html" . }}
        {{ partial "custom_footer.html" . }}
    </body>
</html>